@layer fonts {
    /* inter-regular - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/inter-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* inter-600 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/inter-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* inter-700 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/inter-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}

@layer colors {
    :root {
        /* Color palette */
        --color-white: hsl(0, 0%, 100%);
        --color-green: hsl(75, 94%, 57%);
        --color-grey-700: hsl(0, 0%, 20%);
        --color-grey-800: hsl(0, 0%, 12%);
        --color-grey-900: hsl(0, 0%, 8%);
        /* Layout colors */
        --layout-backgroundcolor: var(--color-grey-900);
        --layout-cardcolor: var(--color-grey-800);
        --layout-cardbuttoncolor: var(--color-grey-700);
        /* Font colors */
        --font-h1color: var(--color-white);
        --font-h2color: var(--color-green);
        --font-pcolor: var(--color-white);
        --font-anchorcolor: var(--color-white);
    }
}

@layer typography {
    body {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: var(--font-pcolor);
    }

    h1 {
        color: var(--font-h1color);
        font-size: 24px;
        font-weight: 600;
        margin: 1rem 1rem 0 1rem;
    }

    h2 {
        color: var(--font-h2color);
        font-size: 13px;
        font-weight: 600;
        margin: 0.2rem 1rem 0 1rem;
    }

    p {
        color: var(--font-pcolor);
        font-size: 13px;
        margin: 1.5rem 1rem 0 1rem;
    }

    a {
        color: var(--font-anchorcolor);
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        margin: 0.5rem 1rem;
    }

    a:hover {
        text-decoration: underline;
    }
}

@layer layout {

    *, *::before, *::after {
        box-sizing: border-box;
    }

    body {
        background-color: var(--layout-backgroundcolor);
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 97vh;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: calc(100 / 16 * 1rem);
        width: 100%;
        height: 100%;
    }

    section.card {
        height: 610px;
    }

    .card {
        background-color: var(--layout-cardcolor);
        border-radius: 10px;
        padding: calc(35 / 16 * 1rem);
        margin: calc(20 / 16 * 1rem);
        width: 23%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-section {
        margin: calc(12 / 16 * 1rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }

    .card-button {
        background-color: var(--layout-cardbuttoncolor);
        color: var(--font-anchorcolor);
        border: none;
        padding: calc(15 / 16 * 1rem);
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        width: 100%;
        border-radius: 7px;
        cursor: pointer;
        text-align: center;
    }

    .card-button:last-child {
        margin-bottom: 0;
    }  

    .card-button:hover {
        opacity: 0.8;
    }

    img {
        max-width: calc(85 / 16 * 1rem);
        height: auto;
        border-radius: 100px;
    }

    footer {
        height: 3%;
    }
}